@model MenuModel

@Html.BsTextBoxFor(x=>x.Name)

@*<div class="form-group">
    <label>Dil</label>
   
    @Html.DropDownListFor(x => x.LangId, ((IEnumerable<SelectListItem>)ViewData["langList"]), new { @class = "form-control" })
  
    @Html.ValidationMessageFor(x => x.LangId)
</div>*@

@Html.BsDropdownFor(x=>x.LangId,"langList","Seçiniz")
<div class="form-group">
    <label>Üst Menü</label>
    @Html.DropDownListFor(x => x.TopMenuId, ((IEnumerable<SelectListItem>)ViewData["menuList"]), "Yeni üst menü oluşturmak istiyorum..", new { @class = "form-control" })
</div>

